{% extends 'base.html.twig' %}

{% block body %}
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-users"></span> Cadastro de Usuários</h3>
        </div>
        <div class="table-responsive">
        <div class="box-body">
            <h4>Informe o CPF para localizar ou cadastrar um novo usuário</h4>
            <div class="input-group col-lg-2">
                <input type="text" class="form-control" placeholder="CPF" maxlength="11" name="cpf" id="cpf">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat" id="localizarCPF">Localizar CPF</button>
                </span>
            </div>
        <br />
            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Perfil de Acesso</th>
                    <th>Departamento</th>
                    <th>Cadastro em</th>
                    <th>Atualizado em</th>
                    <th>Editar</th>
                    <th>Desativar</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Perfil de Acesso</th>
                    <th>Departamento</th>
                    <th>Cadastro em</th>
                    <th>Atualizado em</th>
                    <th>Editar</th>
                    <th>Desativar</th>
                </tr>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
    </div>
    <div class="modal fade" id="modal-disabled">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Atenção!</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente desativar o Usuário <strong id="modalDescricao"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" href="" id="confirmar">Confirmar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
{% block javascripts %}
    <script>


        $(function () {

            $(document).on("click", ".desativar", function () {
                var id = $(this).data('id');
                var descricao = $(this).data('descricao');

                $("#modalDescricao").html(descricao);
                $("#confirmar").attr("href", "{{ path("usuario_disable") }}/" + id);

            });

            $lista = $('#lista').DataTable( {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'iDisplayLength': 10,
                'iDisplayStart': 0,
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                "bProcessing": true,
                "ajax": Routing.generate('json_lista_usuario'),
                "aoColumns" : [
                    { "mData": 1 },
                    { "mData": 2 },
                    { "mData": 3 },
                    { "mData": 4 },
                    { "mData": 5 },
                    { "mData": 6 },
                    { "mData": null,
                        "bSortable": false,
                        "mRender": function(data, type, full) {
                            if (full[0]) {
                                return '<a class="btn btn-primary" href="' + Routing.generate('usuario_edit', {'id': full[0]}) + '"><li class="fa fa-edit"> Editar</li></a>';
                            } else {
                                return '<a class="btn btn-success" href="' + Routing.generate('usuario_add', {'cpf': full[1]}) + '"><li class="fa fa-edit"> Cadastrar Usuário</li></a>';
                            }
                        }
                    },
                    { "mData": null,
                        "bSortable": false,
                        "mRender": function(data, type, full) {
                            if (full[0]) {
                                return '<a class="btn btn-danger desativar" data-toggle="modal" data-id="' + full[0] + '" data-descricao="' + full[1] + ' - ' + full[2] + '" href="#modal-disabled"><li class="fa fa-trash"> Desativar</li></a>';
                            } else {
                                return null;
                            }

                        }
                    }
                ]
            } );

            $("#localizarCPF").click(function () {
                if ($("#cpf").val() != "" && $("#cpf").val().length == 11) {
                    $lista.ajax.url( Routing.generate('json_localiza_cpf', {'cpf': $("#cpf").val()}) ).load();
                }
            });

        })


    </script>
{% endblock %}