{% include('includes/header.html.twig') %}
{% include('includes/menu.html.twig') %}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

                {% include 'includes/messages.html.twig' %}
                {% block body %}{% endblock %}

    </section>
</div><!-- ./wrapper -->
{% include('includes/footer.html.twig') %}
{% block javascripts %}{% endblock %}
</body>
</html>
