{% extends 'base.html.twig' %}

{% block body %}
    <div class="error-page">
        <div class="error-content">
            {% if error == 403 %}
                <h3><i class="fa fa-warning text-red"></i> Acesso negado!</h3>
           {% endif %}
        </div>
        <!-- /.error-content -->
    </div>
{% endblock %}