{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                Bem vindo ao sistema de Plano Uso
            </div>
        </div>
    </div>
{% endblock %}


