{% extends 'base.html.twig' %}

{% block body %}

    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-usd"></span> Ação Orçamentária</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive" >
            <label>Ano de Exercício:</label>
            <select name="nuAnoExercicio" id="IdAnoExercicio">
                <option value="">Selecione o Ano</option>
                {% for ano in anoExercicio %}
                    <option value="{{ ano.nuAnoExercicio }}"{% if nuAno == ano.nuAnoExercicio %} selected="selected"{% endif %}>{{ ano.labelAnoExercicio }}</option>
                {% endfor %}
            </select>
            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <!-- <th>CÓD</th> -->
                    <th>Ação/PO</th>
                    <th>Denominação</th>
                    <th>Despesa</th>
                    <th>Valor Atualizado</th>
                    <th>Valor Utilizado</th>
                    <th>Saldo disponivel</th>
                    <!-- <th>Atividades<br />Cadastradas</th> -->
                    <th>Itens<br />Cadastrados</th>
                    <th>Selecionar<br />Ação/PO</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <!--
                <tfoot>
                <tr>
                    <th>CÓD</th>
                    <th>Ação/PO</th>
                    <th>Denominação</th>
                    <th>Despesa</th>
                    <th>Valor Atualizado</th>
                    <th>Valor Utilizado</th>
                    <th>Saldo disponivel</th>
                    <th>Atividades<br />Cadastradas</th>
                    <th>Selecionar<br />Ação/Plano</th>
                </tr>
                </tfoot>
                -->

            </table>

        </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {

            $lista = $('#lista').DataTable( {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'iDisplayLength': 10,
                'iDisplayStart': 0,
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                "bProcessing": true,
                {% if nuAno is not null %}  "ajax": Routing.generate('json_plano_lista_acao', {'anoExercicio':{{ nuAno }} }), {% endif %}
                "aoColumns" : [
                    //{ "mData": 0 }, Código da tabela no banco
                    { "mData": 2 },
                    { "mData": 3 },
                    { "mData": 4 },
                    { "mData": 6 },
                    { "mData": 7 },
                    { "mData": 8 },
                    { "mData": 9 },
                    { "mData": null,
                        "bSortable": false,
                        "mRender": function(data, type, full) {
                            if (full[1] >= {{ "now"|date("Y") }}) {
                                return '<a class="btn btn-success" href="' + Routing.generate('planodeuso_acao', {'id': full[0]}) + '"><li class="fa fa-edit"> </li></a>';
                            }else{
                                return '-';
                            }
                        }
                    },
                ]
            } );

            $("#IdAnoExercicio").change(function () {
                if ($("#IdAnoExercicio").val() != "") {
                    $lista.ajax.url( Routing.generate('json_plano_lista_acao', {'anoExercicio': $("#IdAnoExercicio").val()}) ).load();
                }else{
                    $lista.clear().draw();
                }
            });
        })
    </script>
{% endblock %}